<%- include('partials/header'); -%>

<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label for="titleTextBox">Title</label>
    <input type="text" class="form-control" id="titleTextBox" name="titleText">
  </div>
  <div class="form-group">
    <label for="contentTextBox">Post</label>
    <textarea type="area" class="form-control" id="contentTextBox" name="contentText" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary" name="publishContentButton">Publish</button>

  </div>
</form>

<%- include('partials/footer'); -%>
